<div ng-show="courses.length">
  <h1>Here are all of your courses</h1>
  <ul>
    <li mg-repeat="item in courses">
      <a href="ui-sref="courses.students({ courseId: item.if })">{{ item.name }}"></a>
    </li>
  </ul>
</div>

<div class="col-md-4">
  <h3>Add a new course</h3>
  <form class="form-inline" role="form" ng-submit="CoursesFactory.addCourse()">
    <div class="form-group">
      <label for="courseName">Enter the course name</label>
      <input type="text" mg-model="CourseFactory.courseName" class="form-control">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<div ui-view>

</div>
